<% var exist =  ( existingCandidacy != null &&  existingCandidacy.father != null ? true : false) %>

<div class="panel panel-info">
    <div class="panel-heading">
        Coordonnées de la mère
    </div>
    <div class="panel-body">
        <form>
            <input type="hidden" name="form" value="form_mother">
            <div class="form-group col-md-4">
                <label>Civilité:</label>
                <select name='civilite' class="form-control">
                    <option <%= (exist && existingCandidacy.mother.civilite == 'Mr' ? 'selected' :'')%> value="Mr">Mr</option>
                    <option <%= (exist && existingCandidacy.mother.civilite == 'MMe' ? 'selected' :'')%> value="MMe">Mme</option>
                    <option <%= (exist && existingCandidacy.mother.civilite == 'Mlle' ? 'selected' :'')%> value="Mlle">Mlle</option>
                </select>
            </div>
            <div class="form-group col-md-4">
                <label>Nom de Famille:</label>
                <input  value="<%= (exist && typeof existingCandidacy.mother.nom != 'undefined'? existingCandidacy.mother.nom :'')%>" name="nom" data-validation="length custom"
                        data-validation="length custom"
                        data-validation-regexp="^([a-zA-Z]+)$"
                        data-validation-length="min2"  type="text" class="form-control">
            </div>
            <div class="form-group col-md-4">
                <label>Prénom:</label>
                <input value="<%= (exist && typeof existingCandidacy.mother.prenom != 'undefined'? existingCandidacy.mother.prenom :'')%>" name="prenom" data-validation="length custom"
                       data-validation="length custom"
                       data-validation-regexp="^([a-zA-Z]+)$" data-validation-length="min2" type="text" class="form-control">
            </div>
            <div class="form-group col-md-6">
                <label>Adresse :</label>
                <textarea name="address"
                          data-validation="length custom" data-validation-regexp="^([a-zA-Z\s\S]+)$"
                          data-validation-length="min2" class="form-control"><%= (exist && typeof existingCandidacy.mother.adresse.address != 'undefined'? existingCandidacy.mother.adresse.address :'')%></textarea>
            </div>
            <div class="form-group col-md-6">
                <label>Complément adresse :</label>
                <textarea name="compl_adresse"
                          data-validation="length custom" data-validation-regexp="^([a-zA-Z\s\S]+)$"
                          data-validation-length="min2" class="form-control"><%= (exist && typeof existingCandidacy.mother.adresse.compl_adresse != 'undefined'? existingCandidacy.mother.adresse.compl_adresse :'')%></textarea>
            </div>

            <div class="form-group col-md-6">
                <label>Pays :</label>
                <input value= "<%= (exist && typeof existingCandidacy.mother.adresse.pays != 'undefined'? existingCandidacy.mother.adresse.pays :'')%>" name="pays" data-validation="length custom"
                       data-validation-regexp="^([a-zA-Z\s\S]+)$"
                       data-validation-length="min2" type="text" class="form-control country">
            </div>
            <div class="form-group col-md-4">
                <label>Ville :</label>
                <input value= "<%= (exist && typeof existingCandidacy.mother.adresse.ville != 'undefined'? existingCandidacy.mother.adresse.ville :'')%>" name="ville" data-validation="length custom"
                       data-validation-regexp="^([a-zA-Z\s\S]+)$"
                       data-validation-length="min2" type="text" class="form-control">
            </div>
            <div class="form-group col-md-2">
                <label>Code Postal :</label>
                <input value= "<%= (exist && typeof existingCandidacy.mother.adresse.code_postal != 'undefined'? existingCandidacy.mother.adresse.code_postal :'')%>" name="code_postal"
                       data-validation="number" type="text" class="form-control">
            </div>
            <div class="form-group col-md-3">
                <label>Telephone Fixe:</label>
                <input  value="<%= (exist && typeof existingCandidacy.mother.contact.telfixe != 'undefined'? existingCandidacy.mother.contact.telfixe :'')%>" name="telfixe" data-validation="custom"
                        data-validation-regexp="^\+?[0-9]{6,15}$" type="text"
                        class="form-control">
            </div>
            <div class="form-group col-md-3">
                <label>Telephone Mobile :</label>
                <input value="<%= (exist && typeof existingCandidacy.mother.contact.telmob != 'undefined'? existingCandidacy.mother.contact.telmob :'')%>" name="telmob" data-validation="custom"
                       data-validation-regexp="^\+?[0-9]{6,15}$" type="text"class="form-control">
            </div>
            <div class="form-group col-md-6">
                <label>Email :</label>
                <input  value="<%= (exist && typeof existingCandidacy.mother.contact.email != 'undefined'? existingCandidacy.mother.contact.email :'')%>" name="email" data-validation="email" type="email"
                        class="form-control">
            </div>
            <div class="form-group col-md-6">
                <label>Emploi :</label>
                <input  value="<%= (exist && typeof existingCandidacy.mother.contact.emploi != 'undefined'? existingCandidacy.mother.contact.emploi :'')%>" name="emploi" data-validation="custom"
                        data-validation="length"   type="text" class="form-control">
            </div>
            <div class="form-group col-md-6">
                <label>Employeur :</label>
                <input  value="<%= (exist && typeof existingCandidacy.mother.contact.employeur != 'undefined'? existingCandidacy.mother.contact.employeur :'')%>" name="employeur" data-validation="custom"
                        data-validation="length"  type="text" class="form-control">
            </div>



        </form>
    </div>
</div>