<div class="panel panel-info">
    <div class="panel-heading">
        Coordonnées du père
    </div>
    <div class="panel-body">
        <form>
            <input type="hidden" name="form" value="form_father">
            <div class="form-group col-md-4">
                <label>Civilité:</label>
                <select class="form-control">
                    <option>Mr</option>
                    <option>Mme</option>
                    <option>Mlle</option>
                </select>
            </div>
            <div class="form-group col-md-4">
                <label>Nom de Famille:</label>
                <input  value="<%= (typeof existingCandidacy != "undefined" && existingCandidacy != null ? existingCandidacy.father.nom :'')%>" name="nom" data-validation="length custom"
                        data-validation="length custom"
                        data-validation-regexp="^([a-zA-Z]+)$"
                        data-validation-length="min2"  type="text" class="form-control">
            </div>
            <div class="form-group col-md-4">
                <label>Prénom:</label>
                <input value="<%= (typeof existingCandidacy != "undefined" && existingCandidacy != null ? existingCandidacy.father.prenom :'')%>" name="prenom" data-validation="length custom"
                        data-validation="length custom"
                        data-validation-regexp="^([a-zA-Z]+)$" data-validation-length="min2" type="text" class="form-control">
            </div>
            <div class="form-group col-md-6">
                <label>Adresse :</label>
                <textarea name="adresse"
                          data-validation="length custom" data-validation-regexp="^([a-zA-Z\s\S]+)$"
                          data-validation-length="min2" class="form-control"><%= (typeof existingCandidacy != "undefined" && existingCandidacy != null ? existingCandidacy.father.adresse :'')%>
</textarea>
            </div>
            <div class="form-group col-md-6">
                <label>Complément adresse :</label>
                <textarea name="compl_adresse"
                          data-validation="length custom" data-validation-regexp="^([a-zA-Z\s\S]+)$"
                          data-validation-length="min2" class="form-control"><%= (typeof existingCandidacy != "undefined" && existingCandidacy != null ? existingCandidacy.father.compl_adresse :'')%>
</textarea>
            </div>

            <div class="form-group col-md-6">
                <label>Pays :</label>
                <input value= "<%= (typeof existingCandidacy != "undefined" && existingCandidacy != null ? existingCandidacy.father.pays :'')%>" name="pays" data-validation="length custom"
                       data-validation-regexp="^([a-zA-Z\s\S]+)$"
                       data-validation-length="min2" type="text" class="form-control country">
            </div>
            <div class="form-group col-md-4">
                <label>Ville :</label>
                <input value= "<%= (typeof existingCandidacy != "undefined" && existingCandidacy != null ? existingCandidacy.father.ville :'')%>" name="ville" data-validation="length custom"
                       data-validation-regexp="^([a-zA-Z\s\S]+)$"
                       data-validation-length="min2" type="text" class="form-control">
            </div>
            <div class="form-group col-md-2">
                <label>Code Postal :</label>
                <input value= "<%= (typeof existingCandidacy != "undefined" && existingCandidacy != null ? existingCandidacy.father.code_postal :'')%>" name="code_postal"
                        data-validation="number" type="text" class="form-control">
            </div>
            <div class="form-group col-md-3">
                <label>Telephone Fixe:</label>
                <input  value="<%= (typeof existingCandidacy != "undefined" && existingCandidacy != null ? existingCandidacy.father.contact.telfixe :'')%>" name="telfixe" data-validation="custom"
                        data-validation-regexp="^\+?[0-9]{6-15}$" type="text" class="form-control">
            </div>
            <div class="form-group col-md-3">
                <label>Telephone Mobile :</label>
                <input value="<%= (typeof existingCandidacy != "undefined" && existingCandidacy != null ? existingCandidacy.father.contact.telmob :'')%>" name="telmob" data-validation="custom"
                       data-validation-regexp="^\+?[0-9]{6,15}$" type="text"class="form-control">
            </div>
            <div class="form-group col-md-6">
                <label>Email :</label>
                <input  value="<%= (typeof existingCandidacy != "undefined" && existingCandidacy != null ? existingCandidacy.father.contact.email :'')%>" name="email" data-validation="custom"
                        data-validation="email" type="email" class="form-control">
            </div>
            <div class="form-group col-md-6">
                <label>Emploi :</label>
                <input  value="<%= (typeof existingCandidacy != "undefined" && existingCandidacy != null ? existingCandidacy.father.contact.emploi :'')%>" name="emploi" data-validation="custom"
                        data-validation="length"   type="text" class="form-control">
            </div>
            <div class="form-group col-md-6">
                <label>Employeur :</label>
                <input  value="<%= (typeof existingCandidacy != "undefined" && existingCandidacy != null ? existingCandidacy.father.contact.employeur :'')%>" name="employeur" data-validation="custom"
                        data-validation="length"  type="email" class="form-control">
            </div>



        </form>
    </div>
</div>